<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> </title>

    <link rel="stylesheet" href="/CSS/auth.css" type="text/css">

</head>
<body>

<div class="login-box">
    <div class="box hbox" id="heading">
        <div>
            <h1>User log in</h1>
        </div>
    </div>

    <div class="box">
        <div>
            <i class="fas fa-user-circle fa-3x"></i>
        </div>

        <form class="login" action="/login" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                <input type="email" class="login form-control" name="username" placeholder="email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                <input type="password" class="login form-control" name="password" placeholder="password" autocomplete="off" id="passErr">
            </div>

            <button class="log_btn btn btn-outline-primary" type="submit">Login</button>
        </form>
        <div>
            <a class="no-acc" href="/register">No account yet?</a>
        </div>

    </div>
</div>

</body>
</html>