*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #5ac6de;
  line-height: 1.6;
  font-weight: 300;
}

.container {
    padding: 3rem;
    margin-top: 7rem;
}

.home {
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 3rem;
}

.home a {
    font-size: 1.5rem;
}

.home h1 {
    font-size: 6rem;
    font-weight: 800;
}

img {
    width: 100%;
}

.home_img {
    transform: rotate(-10deg);
    border-radius: 10%;
}

.home p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
    line-height: 1.4;
}

.box {
    background-color: #fff;
    padding: 3rem;
    border-radius: 3rem;
}

.form-control {
    font-size: 1.5rem;
}

.fa, .fas {
    width: 2rem;
}

.no-acc {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

.btn {
    font-size: 1.5rem;
}

.background {
    background: url("/image/background.jpg");
    height: 100%;
    background-size: cover;
}

.treasure {
    text-align: center;
    padding: 0;
}

.treasure img {
    width: 55%;
    border-radius: 50%;
}

.treasure h1 {
    color: rgb(40, 56, 79, 0.5);
}

.wrng_ans {
    color: red;
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: 500;
}

@media only screen and (max-width: 80rem) {

    html {
      font-size: 50%;  
    }

    .intro_img {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }
}